@use '@angular/material' as mat;
@use './assets/scss/index' as *;
@import '@angular/material/theming';

$custom-typography: mat-typography-config(
  $headline: mat.define-typography-level(
    $font-family: 'Open Sans',
    $font-size: 1rem,
    $letter-spacing: 1px
  ),
  $title: mat.define-typography-level(
    $font-family: 'Poppins',
    $font-size: 1.8rem,
    $letter-spacing: 2px,
    $font-weight: 500,
  ),
  $subheading-2: mat.define-typography-level(
    $font-size: 1.4rem,
    $letter-spacing: 1px,
    $font-weight: 600,
  ),
  $subheading-1: mat.define-typography-level(
    $font-size: 1.1rem,
  ),
  $body-1: mat.define-typography-level(
    $font-family: 'Open Sans',
    $font-size: 1rem,
    $line-height: 1.6,
  ),
);

@include angular-material-typography($custom-typography);

html, body {
  box-sizing: border-box;
  font-size: 14px;
  background: $background;
  color: $grey-light;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h2 {
  color: $dark;
}

a {
  text-decoration: none;
}

section {
  margin: 2rem 0;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 500;
    & > img {
      height: 16px;
      margin: 0 0.4rem;
      position: relative;
    }
}

.button-primary {
  background: white;
  color: $secondary;
  &:hover {
    box-shadow: 0px 15px 20px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    transition: 20ms ease-in;
  }
}

.button-secondary {
  background: $secondary;
  color: white;
  &:hover {
    background: $secondary-light;
    box-shadow: 0px 15px 20px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    transition: 20ms ease-in;
  }
}

.button-text {
  background: none;
  color: white;
  &:hover {
    transition: 20ms ease-in;
  }
}

.button-text-dark {
  color: $dark;
  background: white;
    &:hover {
      box-shadow: 0px 15px 20px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    }
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 3rem;
  h3 {
    text-align: center;
  }
}

.box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
    button {
      width: fit-content;
    }
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: none;
  &:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  gap: 1rem;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 1rem;
  h2 {
    font-size: 1.6rem;
  }
  input {
    max-width: 200px;
    margin-bottom: 0.5rem;
    border: none;
    color: rgb(239,93,168);
  }
}

.alert-danger {
  color: #D11A48;
}

.alert-icon {
  height: 16px;
  position: relative;
  top: 3px;
}
