<main id="register-form">
  <div class="form-box">
    <h2>Go for it!</h2>
      <form
        class="form"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div *ngIf="errorMessage">
          <div class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
        </div>
        <input
          type="text"
          name="name"
          [(ngModel)]="form.name"
          required
          #name="ngModel"
          placeholder="Your name"/>
          <div
          class="alert alert-danger"
          role="alert"
          *ngIf="name.errors && f.submitted"
        >
        <img class="alert-icon" src="assets/icons/circle-exclamation.svg" alt=""/>
        Name is required!
        </div>
        <input
          type="text"
          name="login"
          [(ngModel)]="form.login"
          required
          #login="ngModel"
          placeholder="Your login"/>
          <div
          class="alert alert-danger"
          role="alert"
          *ngIf="login.errors && f.submitted"
        >
        <img class="alert-icon" src="assets/icons/circle-exclamation.svg" alt=""/>
        Login is required!
        </div>
        <input
          type="password"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          placeholder="Password"
          />
          <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <img class="alert-icon" src="assets/icons/circle-exclamation.svg" alt=""/>
          The password should consist <br/> of at least 6 characters!
        </div>
        <button class="button button-secondary">Register</button>
      </form>
      <span>Already have an account?&nbsp;</span>
      <a [routerLink]="['/login']">Log in!</a>
  </div>
</main>
