<section id="first-section">
  <div class="container">
    <div class="box">
      <h2>Fire up your project</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales ac dui at vestibulum. In condimentum metus id dui tincidunt, in blandit mi vehicula. Nulla lacinia, erat sit amet elementum vulputate, lectus mauris volutpat mi, vitae accumsan metus elit ut nunc. Vestibulum lacinia enim eget eros fermentum scelerisque. Proin augue leo, posuere ut imperdiet vitae, fermentum eu ipsum. Sed sed neque sagittis, posuere urna nec, commodo leo. Pellentesque posuere justo vitae massa volutpat maximus.</p>
      <button class="button button-secondary">Sign in</button>
    </div>
    <img src="assets/img/rocket.svg" alt="rocket"/>
  </div>
</section>
