#dashboard {
  height: 100vh;
  padding: 3rem;
}

.project-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border-radius: 8px;
  width: 200px;
  height: 200px;
  box-shadow: 0px 15px 20px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    &:hover>:first-child{
      transition: 8ms;
    }
    &:hover {
      cursor: pointer;
    }
    img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
        &:hover {
          cursor: pointer;
          box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.1);
          transition: 8ms;
        }
    }
    .link-to-form {
      text-align: center;
      &:hover {
        font-weight: 500;
      }
    }
}
