@use '../../../../assets/scss/index' as *;

.project-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border-radius: 8px;
  width: 200px;
  height: 200px;
    &:hover> button{
      transition: 8ms;
      display: block;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0px 15px 20px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    }
    img {
      height: 70px;
      width: 70px;
        &:hover {
          cursor: pointer;
          transition: 8ms;
        }
    }
    .link-to-form {
      text-align: center;
      &:hover {
        font-weight: 500;
      }
    }
    .mat-icon {
      color: $secondary;
      font-size: 1.6rem;
    }
    .mat-focus-indicator {
      position: relative;
      right: -60px;
      width: 30px;
      height: 30px;
      background: none;
    }

}

.empty-card {
  box-shadow: 0px 15px 20px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.card-with-icon {
    button {
      border: none;
      position: relative;
      right: -50px;
      border-radius: 50%;
      height: 36px;
      width: 36px;
      padding: 6px;
      display: none;
    }
}
