@use '../../../../assets/scss/index' as *;

.board-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
    h2 {
      margin-bottom: 1rem;
    }
}

.column-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.empty-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: dashed 2px $primary;
  height: 70vh;
  width: 220px;
    img {
      margin: 0.5rem 0;
    }
}
