<section id="third-section">
  <div class="section-header">
    <h2>What you can do with <img src="assets/icons/pink-logo.svg"/><span class="logo">savvy</span></h2>
  </div>
  <div class="row">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales ac dui at vestibulum. In condimentum metus id dui tincidunt, in blandit mi vehicula. Nulla lacinia, erat sit amet elementum vulputate, lectus mauris volutpat mi, vitae accumsan metus elit ut nunc. Vestibulum lacinia enim eget eros fermentum scelerisque. Proin augue leo, posuere ut imperdiet vitae, fermentum eu ipsum. Sed sed neque sagittis, posuere urna nec, commodo leo.</p>
      <img src="assets/img/third-sec.svg" alt=""/>
  </div>
</section>
