<section id="developer-section">
  <h2>About Developer</h2>
  <div class="container">
    <div class="box">
      <img class="photo" src="/app/assets/img/angbur.jpg" alt="Agnieszka Bury" />
    </div>
    <div class="box card">
      <div class="card-header">
        <h3>Agnieszka Bury</h3>
        <div class="social-bar">
          <img src="/app/assets/icons/facebook.svg" alt="" />
          <img src="/app/assets/icons/github.svg" alt="" />
          <img src="/app/assets/icons/linkedin.svg" alt="" />
        </div>
      </div>
      <h4>Frontend Developer</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales ac dui at vestibulum. In condimentum metus
        id dui tincidunt, in blandit mi vehicula. Nulla lacinia, erat sit amet elementum vulputate, lectus mauris
        volutpat mi, vitae accumsan metus elit ut nunc.
      </p>
    </div>
  </div>
</section>
