<mat-toolbar class="navbar">
  <a class="logo" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
    <img src="assets/icons/logo.svg" alt="" />
    <h1 class="logo">savvy</h1>
  </a>
  <div class="button-section" *ngIf="!isLoggedIn; else elseBlock">
    <button class="button button-text">
      <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
    </button>
    <button
      class="button button-primary"
      routerLink="/login"
      routerLinkActive="active"
      *ngIf="!isLoggedIn; else elseBlock">
      <a ariaCurrentWhenActive="page">Login</a>
    </button>
  </div>
  <ng-template #elseBlock>
    <div class="button-section">
      <button class="button button-text" (click)="navigateToProfilePage()">
        <img class="startIcon" src="assets/icons/user-solid.svg" alt="" />
        {{ userName || 'Profile' }}
      </button>
      <button class="button button-primary" (click)="handleLogout()">Logout</button>
    </div>
  </ng-template>
</mat-toolbar>
