<main id="login-form">
  <div class="form-box">
    <h2 >Welcome back!</h2>
      <form
        class="form"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <input
          type="text"
          name="login"
          [(ngModel)]="form.login"
          required
          #login="ngModel"
          placeholder="Your login"/>
          <div
          class="alert alert-danger"
          role="alert"
          *ngIf="login.errors && f.submitted"
        >
          Login is required!
        </div>
        <input
          type="password"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          placeholder="Password"
          />
        <button class="button-secondary">Login</button>
      </form>
  </div>
</main>
