<div class="column-row" cdkDropListGroup>
  <div
    class="column"
    *ngFor="let column of columns; index as i"
    cdkDropList
    [cdkDropListData]="tasksEntities[i].tasks"
    (cdkDropListDropped)="dropTask($event)">
    <div class="column-header">
      <h4>{{ column.title }}</h4>
    </div>
    <div class="column-container">
      <ul class="column-content">
        <button class="empty-task-item" type="button" (click)="addNewTask(columns ? columns[i]._id.toString() : '', i)">
          <img src="assets/icons/plus-white.svg" />
          Add task
        </button>
        <li class="task-item" cdkDrag *ngFor="let task of tasksEntities[i].tasks">
          {{ task.title }}
          <span class="task-menu">
            <button
              class="button-icon"
              type="button"
              (click)="update(columns ? columns[i]._id.toString() : '', task, task._id)">
              <img src="assets/icons/pen-solid.svg" alt="" />
            </button>
            <button
              class="button-icon"
              type="button"
              (click)="delete(columns ? columns[i]._id.toString() : '', task._id)">
              <img src="assets/icons/trash-solid.svg" alt="" />
            </button>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
